sir i dont know how to get the code suggestion pop upa

**Data types**

- in python we have many data types are there

- integer

- float

- string

- boolean

**integer**

- in python no need to mention a data type like c

- it will consider the data type automatically

In [15]:
number=100
# in order to check the type of a variable we will use
# in built function calles as type

In [17]:
type(number)

int

 - in maths we have different types of representations available
 
 - the following number systems are:

          - binary

           -octa

           -decimal

           -hexa

**binary**

- binary has bi which indicates two

- we have total 0 to 9 digits to represent any number

- from there we will take only first two digits i.e 0and 1

- example: 0b101, 0B0001

- wrong representation is : 0b002,1b001

In [23]:
num=0b001
num

1

In [28]:
0b1111

15

In [ ]:
4   2   1   num
0   0   0    0
0   0   1    1
0   1   0    2
0   1   1    3
1   0   0    4
1   0   1    5     
1   1   0    6   #0b110=6
1   1   1    7   #0b111=7

**octa**

- octa means 8

- we have total 0 to 9 digits to represent any number:0,1,2,3,4,5,6,7,8,9

- from there we will take only starting 8 digits i.e 0 to 7

- example: 0o123,0o567,0o10006

- wrong representation is :0o786 because 7,6 but 8

In [32]:
0o786

SyntaxError: invalid digit '8' in octal literal (3171049937.py, line 1)

- a good developer will understand the errors easily

- almost we will get 20 types

- we will focus both on output as well as errors

In [35]:
0o123

83

In [37]:
0o456

302

**hexa**

- hexa means 16

- we have total 0 to 9 digits to represent any number: 0,1,2,3,4,5,6,7,8,9

- after 9 we will use A to F A:10,B=11,C=12,D=13,E=14,F=15

- example: 0x123,0xABC, 0x9ad

- wrong representation is :0xFGH

In [44]:
0xabc

2748

In [46]:
0xab9

2745

In [48]:
0xb52

2898

**float**

In [51]:
num=10.5
type(num)

float

In [53]:
type(10),type(10.5)

(int, float)

In [55]:
10e1 # 10*<10>=100
10e2 # 10*<100>=1000
10e3 # 10*<1000>=10000
10e4 # 10*<10000>=100000

100000.0

In [57]:
10
20
# in jupyter note book by default last value will print

20

In [59]:
# if you want to see all the answers apply print
print(10)
print(20)

10
20

In [61]:
10,20

(10, 20)

In [63]:
print(10e1)
print(10e2)
print(10e3)
print(10e4)

100.0
1000.0
10000.0
100000.0

In [65]:
10e+1,10e+2,10e+3

(100.0, 1000.0, 10000.0)

In [67]:
10e2

1000.0

In [69]:
print(10e-1)
print(10e-2)
print(10e-3)
print(10e-4)

1.0
0.1
0.01
0.001

- in the machine learning we often see the values in exponential format

- in some cases we need to search for zero value

- in ml with python we rarely see extact an answer 0.0

- instead of 0.0 it will display as 1.2345e-17

In [72]:
7.74619736e-4

0.000774619736

In [74]:
1.2345e-17

1.2345e-17

**strings**

- strings represents english charcters generally

- strings will represents with quotes

- single quotes

- double quotes

- triple quotes

In [79]:
str1='python' # single quotes
str1

'python'

In [81]:
type(str1)

str

In [83]:
str2="python"  #double quotes
str2

'python'

- we can represent in any way but python will give in single quotes

In [86]:
print(str1)
print(str2)

python
python

- when we apply print on string, it will display without quotes

In [89]:
str3='abc123'
type(str3)

str

In [93]:
type('10'),type('10.5'),type('123'),type('apple')

(str, str, str, str)

- any data type or any value is provided by quotes means

- it become a string only

- strings always in red color

- variables always in black color

- keywords or numbers always in green color

In [96]:
vicky='vicky'
# vicky is a letters stored in a variable name called vicky
vicky

'vicky'

In [100]:
str1=" i like 'python'"
print(str1)

 i like 'python'

In [102]:
str1= 'i like "python"'
print(str1)

i like "python"

- if you want to highlite any word

- represent entire string in single quotes, highlited word in double quotes vice versa

In [105]:
hai
how are you

SyntaxError: invalid syntax (3479604206.py, line 2)

In [107]:
str1='hai
      how are you 
      im good'

SyntaxError: unterminated string literal (detected at line 1) (3198766728.py, line 1)

In [109]:
str1="hai
      how are you 
      im good"

SyntaxError: unterminated string literal (detected at line 1) (2362128840.py, line 1)

In [111]:
str1="""hai
      how are you 
      im good"""

In [113]:
str1

'hai\n      how are you \n      im good'

In [115]:
print(str1)

hai
      how are you
      im good

- triple quotes is used for write a multiple comments

- this is called **Docstring**

- in order to write a story in jupyter notebook we have a markdown

- but other platforms like vscode, pycharm, we dont have a markdowm

- then how can we write a story:by using triple quotes

- if any person writing some thing using triple quotes ,which indicates the user is trying to convey the information

- this is process called as docstring


sir how to execute the text cell can you please tell me the shortcut key 


esc+m

shift+enter

**boolean**

- computer takes the values in binary format (1,0)

- computer gives the answer in boolean format

   -true

   -false

- true indicates 1

- false indicates 0

In [122]:
val=True
type(val)

bool

In [124]:
val1=False
type(val1)

bool

In [ ]:
sir boolean is case senstive or not

True
true
TRUE

In [126]:
true='True'
TRUE=True
TRUE, true #two are variables

(True, 'True')

In [128]:
type(true), type(TRUE)

(str, bool)

In [ ]:
a=10
b=10.5
c='10'
d=True