In [1]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [3]:
l=[]
for i in range(1,11):
    l.append(i)

l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**method-1 only for loop**

In [6]:
str='hello hai how are you'
str.split()

['hello', 'hai', 'how', 'are', 'you']

- what is the output we are saving: i

- what is the loop:for i in range(1,11)

- format [output for loop ]

In [9]:
l1=[i for i in range(11)]

In [11]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# wap : save the list of square numbers of 1 to 6
l=[]
for i in range(1,6):
    l.append(i*i)

l

[1, 4, 9, 16, 25]

In [19]:
l2=[i*i for i in range(1,6)]
l2

[1, 4, 9, 16, 25]

In [21]:
# wap: l=['hyd','mumbai','pune']
k=[]
l=['hyd','mumbai','pune']
for i in l:
    k.append(i.title())

k

['Hyd', 'Mumbai', 'Pune']

In [23]:
l1=[i.title() for i in l]
l1

['Hyd', 'Mumbai', 'Pune']

In [25]:
l=['hyd','mumbai','pune'] 
o=[]
for i in l:
    o.append(i.upper())

o

['HYD', 'MUMBAI', 'PUNE']

In [27]:
k=[i.upper() for i in l]
k

['HYD', 'MUMBAI', 'PUNE']

In [29]:
g=[]
for i in range(len(l)):
    g.append(i*10)

g

[0, 10, 20]

In [31]:
h=[i*10   for i in l]
h

['hydhydhydhydhydhydhydhydhydhyd',
 'mumbaimumbaimumbaimumbaimumbaimumbaimumbaimumbaimumbaimumbai',
 'punepunepunepunepunepunepunepunepunepune']

In [33]:
f=[i*10 for i in range(len(l))]
f

[0, 10, 20]

In [37]:
c=[l.index(i)*10  for i in l]
c

[0, 10, 20]

In [45]:
l=['hyd','mumbai','pune']
o=[]
for i in l:
    o.append(l.index(i))

print(o)
print(sum(o))

[0, 1, 2]
3

In [49]:
h=[]
for i in range(len(l)):
    h.append(i)
h
sum(h)

3

In [61]:
d=[l.index(i) for i in l]
d
sum(d)

3

In [1]:
[i for i in range(len(l))]

sum(i)

NameError: name 'l' is not defined

In [67]:
len(v)

3

In [71]:
k=['apple','banana','cherry','food','good','biscuits']
d=[i for i in range(len(k))]
sum(d)

15

In [77]:
h=[]
for i in k:
    h.append(k.index(i))

sum(h)

15

In [79]:
g={'key':'value'}
g.keys()

dict_keys(['key'])

In [81]:
g.values()

dict_values(['value'])

**method-2**

**for loop and one if condition**

In [5]:
o=[]
l=['hyd','mum#bai','chen#nai']
for i in l:
    if '#' in i:
        o.append(i)

o

['mum#bai', 'chen#nai']

In [ ]:
[i for i in l if '#' in i]

In [3]:
l=['hyd','mum#bai','chen#nai']
[i for i in l if '#' in i]

['mum#bai', 'chen#nai']

In [5]:
[i for i in l if '#' not in i]

['hyd']

In [13]:
l=['mumbai','chennai']
[i for i in l if len(i)>4]

['mumbai', 'chennai']

In [ ]:
output for loop
output forloop if condition

[<if output> <ifcondition> <else> <else outoput> <for loop>]

In [15]:
# wap ask get the even and odd numbers from 1 to 10
even=[]
odd=[]
for i in range(1,11):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print("the even numbers are",even)
print("the odd numbers are",odd)

the even numbers are [2, 4, 6, 8, 10]
the odd numbers are [1, 3, 5, 7, 9]

In [21]:
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,11)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10']

In [24]:
for loop:[<output>  <for loop>]
for if:[<output> <for loop> <if condition> ]
for if else:[<if output> <if condition> <else> <else output> <if condtion>]

SyntaxError: invalid syntax (1296852881.py, line 1)

In [ ]:
for if elif else:[<if out> <>]

In [26]:
l=[1,2,3,0,-3,-2]
for i in l:
    if i>0:
        print("pos:",i)
    elif i==0:
        print("zero:",i)

    else:
        print("neg:",i)

pos: 1
pos: 2
pos: 3
zero: 0
neg: -3
neg: -2

In [30]:
out=[]


l=[1,2,3,0,-3,-2]
for i in l:
    if i>0:
        out.append(f"pos:{i}")
    elif i==0:
        out.append(f"zero:{i}")

    else:
        out.append(f"neg:{i}")

out

['pos:1', 'pos:2', 'pos:3', 'zero:0', 'neg:-3', 'neg:-2']

In [36]:
[f"pos:{i}" if i>0 else f"neg:{i}" if i<0 else f"zero:{i}" for i in l]

['pos:1', 'pos:2', 'pos:3', 'zero:0', 'neg:-3', 'neg:-2']

In [46]:
out=[f"pos:{i}" if i>0
    else f"neg:{i}" if i<0
    else f"zero:{i}"
    for i in l]
out

['pos:1', 'pos:2', 'pos:3', 'zero:0', 'neg:-3', 'neg:-2']

In [48]:
l=[1,2,3]
l[0]

1

In [50]:
t=(1,2,3)
t[0]

1

In [52]:
t[0]=23

TypeError: 'tuple' object does not support item assignment

In [68]:
names=['ramesh','suresh','mahesh']
age=[21,22,23]
for i in range(len(names)):
        print(f"{names[i]} age is {age[i]}")

ramesh age is 21
suresh age is 22
mahesh age is 23

**zip**

In [73]:
zip(names,age)

In [75]:
list(zip(names,age))

[('ramesh', 21), ('suresh', 22), ('mahesh', 23)]

In [77]:
for i in zip(names,age):
    print(i)

('ramesh', 21)
('suresh', 22)
('mahesh', 23)

In [79]:
for i in zip(names):
    print(i)

for j in zip(age):
    print(j)

('ramesh',)
('suresh',)
('mahesh',)
(21,)
(22,)
(23,)

In [81]:
for i, j in zip(names,age):
    print(i)
    print(j)

ramesh
21
suresh
22
mahesh
23

In [ ]:
zip()